<app-admin-navbar></app-admin-navbar>
<div>
<section  style="background-color: #2a5053;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-xl-12">
          <div class="card" style="border-radius: 1rem;">
            <div class="row g-3">
              <div class="col-md-12 col-lg-12 d-flex align-items-center">
                <div class="card-body p-4 p-lg-5 text-black" >
                  <form>
                    <div class="form-outline mb-4">
                      <input type="text"  class="form-control form-control-lg"  name="sCode"[(ngModel)]="sCode" />
                      <label class="form-label" for="form2Example17">Security Code</label>
                    </div>
                    <div class="form-outline mb-4">
                        <input type="text"  class="form-control form-control-lg"name="sName"[(ngModel)]="sName" />
                        <label class="form-label" for="form2Example17" >Security Name</label>
                      </div>
                      <div class="form-outline mb-4">
                        <input type="text"  class="form-control form-control-lg" name="sAdd"[(ngModel)]="sAdd" />
                        <label class="form-label" for="form2Example17" >Security Address</label>
                      </div>
                      <div class="form-outline mb-4">
                        <input type="text"  class="form-control form-control-lg"name="sPhone"[(ngModel)]="sPhone" />
                        <label class="form-label" for="form2Example17" >Phone Number</label>
                      </div>
                      <div class="form-outline mb-4">
                        <input type="text"  class="form-control form-control-lg"name="sUsername"[(ngModel)]="sUsername" />
                        <label class="form-label" for="form2Example17" >User Name</label>
                      </div>
                      <div class="form-outline mb-4">
                        <input type="password"  class="form-control form-control-lg" name="sPassword"[(ngModel)]="sPassword"/>
                        <label class="form-label" for="form2Example17" >Password</label>
                      </div>
                    <div class="pt-1 mb-4">
                      <button class="btn btn-success" (click)="readvalues()">Submit</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>